.note-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
.note-title{
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    padding:15px;
    width: 50%;
    margin: 2rem;
    color:white;
    border: 2px solid transparent;
}
.note-title:focus{
    border: 2px solid var(--main_color);
    background: rgba(0,0,0,0.7);
}
.note-body{
    padding:20px;
    height:100%;
    background: rgba(0,0,0,0.4);
    border-radius: 25px;
    margin: 0rem 2rem;
    outline: none;
    color:white;
    resize: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    border: 2px solid transparent;
}
.note-body:focus{
    border: 2px solid var(--main_color);
    background: rgba(0,0,0,0.7);
}
.note-btn{
    border: 3px solid var(--main_color);
    background: transparent;
    text-transform: uppercase;
    border-radius: 20px;
    color: var(--main_color);
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    padding:15px;
    width: 200px;
    margin-bottom: 15px;
    transition:0.2s;
    margin: 20px auto;
}
.note-btn:hover{
    filter: brightness(1.5);
    box-shadow: 0px 0px 15px 0px rgb(123, 58, 190);
} 
