.main-header-container{
    border-right: 1px solid rgb(46, 46, 46);
}
.main-header{
    margin-top: -1rem;
    font-family: 'Cairo Play', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 5px 5px 10px var(--main_color);
}
.logo-subtext{
    font-size: 1.6rem;
    letter-spacing: 3px;
    color: var(--main_color);
    font-family: 'Courier New';
    font-weight: bold;
    margin: -25px 0px 0px 80px;
}